body,html,h1{
    margin: 0;
    padding: 0;
    width: 100vw;
}

:root{
    --white: #fcfff7;
    --dark-green: #567A20;
    --light-green: #CFFB8C;
    --lime-green: #B0FA41;
    --grass-green: #8CC734;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    color: var(--white);
    background-color: var(--dark-green);
}

#title{
    text-transform: uppercase;
    text-align: center;
    padding: 20px 70px;
}

#menu{
    font-weight: 600;
    padding:0 50px 10px;
    display:flex;
    display:-webkit-flex;
    align-items: center;
    justify-content: space-between;
}

#tabs{
    margin: 150px 50px 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}

#current-bidding h1{
    display: inline;
}

#page-tab{
    display: flex;
    display: -webkit-flex;
    list-style: none;
    margin: 0 15px 0 0;
}

#page-tab li{
    margin: 0 2px;
    padding: 5px 10px;
    background-color: var(--dark-green);
    color: var(--white);
}

#page-tab #active-page{
    background-color: var(--light-green);
    color: var(--dark-green);
}

#table-tabs{
    margin-left: 15px;
    display:flex;
    display: -webkit-flex;
}

#table-tabs div{
    background-color: var(--dark-green);
    padding: 20px 10px 10px;
    border-radius: 10px 10px 0 0;
    border-bottom: #365A00;
}

#table-tabs #active-tab{
    background-color: var(--grass-green);
    border-bottom: 1px solid var(--dark-green);
}

#table-field{
    margin: 0 50px;
    display:flex;
    display:-webkit-flex;
    justify-content: center;
}

#page-tab{
    display: flex;
    display: -webkit-flex;

}

table{
    border-collapse: collapse;
}

#table-field tr:nth-of-type(odd){
    background-color: var(--grass-green);
    border-bottom: 2px solid var(--dark-green);
}

#table-field tr:nth-of-type(even){
    background-color: var(--light-green);
    border-bottom: 2px solid var(--dark-green);
}

#table-field th,#table-field td{
    padding: 20px 50px;
    text-align: center;

}

#table-field th:first-of-type, #table-field td:first-of-type{
    border-left: 2px solid var(--dark-green)
}

#table-field th:last-of-type, #table-field td:last-of-type{
    border-right: 2px solid var(--dark-green);
}

#table-field tr:last-of-type{
    border-bottom: none;
}

#table-field th{
    background-color: var(--grass-green);
}